<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	
	<variable name="logDirectory" value="${basedir}/logs"/>
	<variable name="footer" value="===========================END===========================${newline}"/>
	<variable name="encoding" value="UTF-8"/>
	<variable name="layout" value="${time}>> ${level:uppercase=true}>> ${callsite:includeNamespace=false}>> ${message} ${exception:format=toString}"/>

	<targets async="true">
		<!--<target name="logconsole" xsi:type="ColoredConsole"
				layout="${time}>> ${level:uppercase=true}>> ${callsite}>> ${message} ${exception:format=toString}">
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="Green" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White"  />
		</target>-->

		<target xsi:type="File" name="file"
				fileName="${logDirectory}/app.log"
				layout="${time}>> ${callsite}>> ${message} ${exception:format=toString}"
				encoding="${encoding}"
				archiveFileName="${logDirectory}/app_{#}.log"
				archiveNumbering="Date"
				archiveEvery="Day"
				archiveAboveSize="20000000"
				maxArchiveFiles="3"
				footer="${footer}"/>

		<target name="ErrorsFile" xsi:type="File"
				fileName="${logDirectory}/errors_${shortdate}.log"
				layout="${layout}"
				encoding="${encoding}"
				maxArchiveFiles="3"
				archiveAboveSize="20000000"
				footer="${footer}"/>


	</targets>

	<rules>
		<logger name="*" minlevel="Trace" max="Fatal" writeTo="logconsole,file" />
		<logger name="*" minlevel="Error" max="Fatal" writeTo="ErrorsFile" color="red"/>
	</rules>

</nlog>
